{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
	<title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">          
    </head>
    <body style='background-color: #fff;  height: 100vh;'>
        <div class="container-fluid p-3 border">
            <div class="row no-gutters" style="display:flex;justify-content:center;align-items: center;height: 10vh;">
                <div class="col-md-6" style="font-size:1.5em">
                    Aplicación de Eventos
                </div>
                <div class="col-md-6 text-right">
                    <div class="background-color:gray">
                         <a href="http://localhost:8080/login/">Ya tengo cuenta, entrar en ella.</a>
                    </div>
                </div>                   
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="display:flex;justify-content:center;align-items: center;height: 80vh;">
                <div class="col-md text-center p-5">
                    <form action="http://localhost:8080/api/create-user/" method="POST" class="form-group">
                        {% csrf_token %}
                        <div class="row no-gutters pt-1 pb-1 pl-4 pr-4">
                            <div class="col-md pr-3 pl-3">
                                <input type="text" class="w-100 p-1" name="username" placeholder="Enter your name" required>
                            </div> 
                            <div class="col-md pr-3 pl-3">
                                <input type="email" class="w-100 p-1" name="email" placeholder="Enter your email">
                            </div>
                         </div>
                        <div class="row no-gutters pt-1 pb-1 pl-4 pr-4">
                            <div class="col-md pr-3 pl-3">
                                <input type="text" class="w-100 p-1" name="first_name" placeholder="Enter yout first name">
                            </div> 
                            <div class="col-md pr-3 pl-3">
                                <input type="text" class="w-100 p-1" name="last_name" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="row no-gutters pt-1 pb-1 pl-4 pr-4">
                            <div class="col-md pr-3 pl-3">
                                <input type="password" class="w-100 p-1" name="password" placeholder="Enter the password" required>
                            </div>
                            <div class="col-md pr-3 pl-3">
                                <button type="submit" class="btn btn-secondary w-100">Register</button>
                            </div> 
                        </div>                     
                    </form>
               </div>
            </div>
        </div>
    </body>
</html>